.milestoneWrapper {
  cursor: pointer;
  outline: none;
}

.milestoneWrapper.draggable {
  cursor: grab;
}

.milestoneWrapper.draggable:active {
  cursor: grabbing;
}

.milestoneBackground {
  user-select: none;
}
