.gridRow {
  fill: #fff;
}

.gridRow:hover {
  fill: #fafafa;
}

.gridRowChild {
  fill: #f8fcfe;
}

.gridRowChild:hover {
  fill: #fafafa;
}

.gridRowLine {
  stroke: #ebeff2;
  stroke-width: 0.5;
}

.gridTick {
  stroke: #e6e4e4;
  stroke-width: 0.5;
}
